
<!doctype html>
<html lang="en">
<head>
    <title>Safe Spot &mdash; Banking Re-invented</title>
    <link rel="icon" type="image/png" href="{{ asset('/images/safe-spot-192x192.png') }}"/>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">

    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ asset('css/aos.css') }}">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar js-sticky-header bg-dark-subtle site-navbar-target" role="banner">

        <div class="container bg-dark">
            <div class="row align-items-center">

                <div class="col-6 col-xl-2">
                    <h1 class="mb-0 site-logo"><a href="#" class="h2 mb-0">Safe Spot<span class="text-primary">.</span> </a></h1>
                </div>

                <div class="col-12 col-md-10 d-none d-xl-block">
                    <nav class="site-navigation position-relative text-right" role="navigation">

                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="#home-section" class="nav-link">Home</a></li>
                            <li class="has-children">
                                <a href="#about-section" class="nav-link">About Us</a>
                                <ul class="dropdown">
                                    <li><a href="#team-section" class="nav-link">Team</a></li>
                                    <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                                    <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                                    <li><a href="#services-section" class="nav-link">Services</a></li>
                                    <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
                                    <!--
                                    <li class="has-children">
                                      <a href="#blog-section">Blog</a>
                                      <ul class="dropdown">
                                        <li><a href="./article-1.html">Article 1</a></li>
                                        <li><a href="./article-2.html">Article 2</a></li>
                                        <li><a href="./article-3.html">Article 3</a></li>
                                      </ul>
                                    </li>
                                    -->
                                </ul>
                            </li>


                            <li><a href="#blog-section" class="nav-link">Blog</a></li>
                            <li><a href="#contact-section" class="nav-link">Contact</a></li>
                            {% if app.user %}
                                <li><a href="#" class="nav-link">{{ app.user.nom ~ ' ' ~ app.user.prenom }}</a></li>
                            {% else %}
                                <li><a href="/login" class="nav-link">Login</a></li>
                            {% endif %}
                            <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                            <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                            <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
                        </ul>
                    </nav>
                </div>


                <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

            </div>
        </div>

    </header>

    <section class="site-section bg-light" id="#" data-aos="fade">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">

                        {% for message in app.flashes('success') %}

                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('notice') %}
                            <div class="flash-notice">
                                {{ message }}
                            </div>
                        {% endfor %}

                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                {% if app.user.imageName %}
                                <img src="{{ asset('uploads/avatars/' ~ app.user.imageName) }}" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                                {% else %}
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Admin" class="rounded-circle p-1 bg-primary" width="110">
                                {% endif %}
                                <div class="mt-3">
                                    <h4>{{ app.user.nom }} {{ app.user.prenom }}</h4>
                                    <p class="text-muted font-size-sm">{{ app.user.email }}</p>
                                    <button class="btn btn-outline-primary"><a href="{{ path('app_logout') }}"> Logout</a></button>
                                </div>
                            </div>
                            <hr class="my-4">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                    <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather fa-feather-alt me-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>adresse</h6>
                                    <span class="text-secondary">{{ app.user.adresse }}</span>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    {{ form_start(form,{'attr':{'novalidate':'novalidate'  }}) }}
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    {{  form_label(form.nom,' ')}}
                                    {{ form_widget(form.nom) }}
                                    {{  form_errors(form.nom)}}

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Prenom</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{  form_label(form.prenom,' ')}}
                                    {{ form_widget(form.prenom) }}
                                    {{  form_errors(form.prenom)}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">adresse</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">

                                    {{  form_label(form.adresse,' ')}}
                                    {{ form_widget(form.adresse) }}
                                    {{  form_errors(form.adresse)}}

                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{  form_label(form.num_tlph,' ')}}
                                    {{ form_widget(form.num_tlph) }}
                                    {{  form_errors(form.num_tlph)}}
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Avatar</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{  form_label(form.imageFile)}}
                                    {{ form_widget(form.imageFile) }}
                                    {{  form_errors(form.imageFile)}}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                                </div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="d-flex align-items-center mb-3">love Status</h5>
                                    <p>love for dogs</p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>love for cats</p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p>love for birds</p>
                                    <div class="progress mb-3" style="height: 5px">
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <h2 class="footer-heading mb-4">About Us</h2>
                            <p>
                                At our core, we are dedicated to empowering individuals through innovative financial solutions tailored to your needs. A seamless experience at your hands.
                            </p>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#about-section" class="smoothscroll">Terms</a></li>
                                <li><a href="#about-section" class="smoothscroll">Policy</a></li>
                                <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                                <li><a href="#services-section" class="smoothscroll">Services</a></li>
                                <li><a href="#testimonials-section" class="smoothscroll">Testimonials</a></li>
                                <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 footer-social">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                    <form action="#" method="post" class="footer-subscribe">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
                            with <i class="icon-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    </div>
                </div>

            </div>
        </div>
    </footer>

</div> <!-- .site-wrap -->

<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
<script src="{{ asset('js/aos.js') }}"></script>
<script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
<script src="{{ asset('js/jquery.sticky.js') }}"></script>
<script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>

<script src="{{ asset('js/main.js') }}"></script>



</body>
</html>
