{#

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Register</h1>
    {{ form_start(registrationForm,{'attr':{'novalidate':'novalidate'  }}) }}
    <div class="form-row">
        <div class="col-md-6">  {{ form_row(registrationForm.nom) }}</div>
        <div class="col-md-6"> {{ form_row(registrationForm.prenom) }}</div>
        <div class="col-md-6">  {{ form_row(registrationForm.num_tlph) }}</div>
        <div class="col-md-6">  {{ form_row(registrationForm.adresse) }}</div>
        <div class="col-md-6">  {{ form_row(registrationForm.date_de_naissance) }}</div>
        </div>
    <div class="form-row">
        <div class="col-md-6">    {{ form_row(registrationForm.email) }}</div>
        <div class="col-md-6">    {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}</div>

    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="register">Register
        </button>
    </div>

    {{ form_end(registrationForm) }}

{% endblock %}

#}




{% block body %}

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
        }
        body{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-image: url('{{asset('assets/Client/img/content/history2.jpg')}}');
            background-repeat:no-repeat;
            background-size:cover;
        }
        .container{
            max-width: 700px;
            width: 100%;
            background-color: #fff;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        }
        .container .title{
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }
        .container .title::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }
        .content form .user-details{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0 12px 0;
        }
        form .user-details .input-box{
            margin-bottom: 15px;
            width: calc(100% / 2 - 20px);
        }
        form .input-box span.details{
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .user-details .input-box input{
            height: 45px;
            width: 100%;
            outline: none;
            font-size: 16px;
            border-radius: 5px;
            padding-left: 15px;
            border: 1px solid #ccc;
            border-bottom-width: 2px;
            transition: all 0.3s ease;
        }
        .user-details .input-box input:focus,
        .user-details .input-box input:valid{
            border-color: #9b59b6;
        }
        form .gender-details .gender-title{
            font-size: 20px;
            font-weight: 500;
        }
        form .category{
            display: flex;
            width: 80%;
            margin: 14px 0 ;
            justify-content: space-between;
        }
        form .category label{
            display: flex;
            align-items: center;
            cursor: pointer;
        }
        form .category label .dot{
            height: 18px;
            width: 18px;
            border-radius: 50%;
            margin-right: 10px;
            background: #d9d9d9;
            border: 5px solid transparent;
            transition: all 0.3s ease;
        }
        #dot-1:checked ~ .category label .one,
        #dot-2:checked ~ .category label .two,
        #dot-3:checked ~ .category label .three{
            background: #9b59b6;
            border-color: #d9d9d9;
        }
        form input[type="radio"]{
            display: none;
        }
        form .button{
            height: 45px;
            margin: 35px 0
        }
        form .button input{
            height: 100%;
            width: 100%;
            border-radius: 5px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }
        form .button input:hover{
            /* transform: scale(0.99); */
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
        }
        a{
            height: 100%;
            width: 100%;
            border-radius: 512px;
            border: none;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 1px;
            cursor: pointer;
            transition: all 0.3s ease;
            background: linear-gradient(135deg, #443C68, #9b59b6);

        }
        @media(max-width: 584px){
            .container{
                max-width: 100%;
            }
            form .user-details .input-box{
                margin-bottom: 15px;
                width: 100%;
            }
            form .category{
                width: 100%;
            }
            .content form .user-details{
                max-height: 300px;
                overflow-y: scroll;
            }
            .user-details::-webkit-scrollbar{
                width: 5px;
            }
        }
        @media(max-width: 459px){
            .container .content .category{
                flex-direction: column;
            }
        }


        div[class*=box] {
            height: 8.33%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .box-2 { background: linear-gradient(135deg, #71b7e6, #9b59b6); }

        .btn {
            line-height: 50px;
            height: 50px;
            text-align: center;
            width: 250px;
            cursor: pointer;
        }
        .btn-two {
            color: #FFF;
            transition: all 0.5s;
            position: relative;
        }
        .btn-two span {
            z-index: 2;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .btn-two::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all 0.5s;
            border: 1px solid rgba(255,255,255,0.2);
            background-color: #7E8A97;
        }
        .btn-two::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all 0.5s;
            border: 1px solid rgba(255,255,255,0.2);
            background-color: rgba(255,255,255,0.1);
        }
        .btn-two:hover::before {
            transform: rotate(-45deg);
            background-color: rgba(255,255,255,0);
        }
        .btn-two:hover::after {
            transform: rotate(45deg);
            background-color: rgba(255,255,255,0);
        }
    </style>

    {#
    {% for flash_error in app.flashes('verify_email_error') %}
       <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
   {% endfor %}
    #}
    <div class="container">
        <div class="title">Registration Employee</div>
        <div class="content">
            <div >
                <div class="message-flash">
                    {% for flash_error in app.flashes('verify_email_error') %}
                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                    {% endfor %}
                </div>
                {{ form_start(registrationForm,{'attr':{'novalidate':'novalidate'  }}) }}

                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Votre Nom</span>
                        {{  form_label(registrationForm.nom,' ')}}
                        {{ form_widget(registrationForm.nom) }}
                        {{  form_errors(registrationForm.nom)}}

                    </div>
                    <div class="input-box">
                        <span class="details">Votre Prenom</span>
                        {{  form_label(registrationForm.prenom,' ')}}
                        {{ form_widget(registrationForm.prenom,{'attr':{'class':'form-control'}}) }}
                        {{  form_errors(registrationForm.prenom)}}
                    </div>
                    <div class="input-box">
                        <span class="details">Votre Numer du telephone</span>
                        {{  form_label(registrationForm.num_tlph,' ')}}
                        {{ form_widget(registrationForm.num_tlph,{'attr':{'class':'form-control'}}) }}
                        {{  form_errors(registrationForm.num_tlph)}}
                    </div>
                    <div class="input-box">
                        <span class="details">Votre adresse</span>
                        {{  form_label(registrationForm.adresse,' ')}}
                        {{ form_widget(registrationForm.adresse,{'attr':{'class':'form-control'}}) }}
                        {{  form_errors(registrationForm.adresse)}}
                    </div>
                    <div class="input-box">
                        <span class="details">Votre Date De Naissance</span>
                        {{  form_label(registrationForm.date_de_naissance,' ')}}
                        {{ form_widget(registrationForm.date_de_naissance,{'attr':{'class':'form-control'}}) }}
                        {{  form_errors(registrationForm.date_de_naissance)}}
                    </div>

                    <div class="input-box">
                        <span class="">Votre password</span>
                        {{  form_label(registrationForm.plainPassword,' ')}}
                        {{ form_widget(registrationForm.plainPassword,{'attr':{'class':'form-control'}}) }}
                        {{  form_errors(registrationForm.plainPassword)}}
                    </div>
                    <div class="input-box">
                        <span class="details">Votre email</span>
                        {{  form_label(registrationForm.email,' ')}}
                        {{ form_widget(registrationForm.email,{'attr':{'class':'form-control'}}) }}
                        {{  form_errors(registrationForm.email)}}
                    </div>
                    <div class="input-box">
                        <span class="details">Agree Terms</span>
                        {{  form_label(registrationForm.agreeTerms,' ')}}
                        {{ form_widget(registrationForm.agreeTerms,{'attr':{'class':'form-control'}}) }}
                        {{  form_errors(registrationForm.agreeTerms)}}
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Register">
                </div>

                {{ form_end(registrationForm) }}

                <div class="box-2">

                    <div class="btn btn-two">
                        <span>  <a href="login">Login</a></span>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}