{% import _self as formMacros %}

{% extends 'base.html.twig' %}

{% block title %}Create Bid Automation{% endblock %}

{% block navigation %}
{{ include('loans/_loanNavMenu.html.twig')}}
{% endblock %}

{% block body %}

<div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{% if detailsView == false %}Create Bid Automation{% else %} Bid Automation Details{% endif %}</h4>
            {{ form_start(form, detailsView == true ? {'attr': {'inert': 'true'}}:{} ) }}

                {{ form_row(form.name) }}
                {{ form_row(form.bidAmount) }}
                <fieldset class="form-group">
                    <legend class="col-form-label required">Rules</legend>
                    <div id="automation_rules"
                         class="rules"
                         data-index="{{ form.rules|length > 0 ? 1 : 0 }}"
                         data-prototype="{{ formMacros.printAutomationRuleRow(form.rules.vars.prototype) |e('html_attr') }}"
                        >
                        <div>
                            {% for rule in form.rules %}
                                {{ formMacros.printAutomationRuleRow(rule) }}
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>

                {% if detailsView == false %}
                <div class="text-center">
                    <button
                            type="button"
                            class="add_rule_link btn btn-inverse-info btn-rounded btn-icon"
                            data-collection-holder-class="rules"
                            data-bs-toggle='tooltip'
                            data-bs-placement='bottom'
                            title='Add Automation Rule'
                    >
                        <i class="mdi mdi-plus btn-icon-prepend"></i>
                    </button>
                </div>
                {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% macro printAutomationRuleRow(ruleForm) %}
<div class="row align-items-center">
    <div class="col">
        {{ form_row(ruleForm.attribute) }}
    </div>
    <div class="col">
        {{ form_row(ruleForm.operator) }}
    </div>
    <div class="col">
        {{ form_row(ruleForm.value) }}
    </div>
</div>
{% endmacro %}



<script>
{% if detailsView == false %}
document
  .querySelectorAll('.add_rule_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

document
    .querySelectorAll('div.rules div.row')
    .forEach((rule) => {
        addFormRemoveLink(rule)
    })

function addFormToCollection(e) {
  const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
  const item = document.createElement('div');
  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );

  collectionHolder.appendChild(item);
  collectionHolder.dataset.index++;

  addFormRemoveLink(item.firstElementChild);
};


function addFormRemoveLink(item) {
    const removeFormButton = document.createElement('button');
    removeFormButton.setAttribute('type', 'button');
    removeFormButton.setAttribute('data-bs-toggle', 'tooltip');
    removeFormButton.setAttribute('data-bs-placement', 'bottom');
    removeFormButton.setAttribute('title', 'Remove Rule');
    removeFormButton.classList.add('btn', 'btn-danger', 'btn-icon');
    const icon = document.createElement('i');
    icon.classList.add('mdi', 'mdi-delete-forever', 'btn-icon-prepend');
    removeFormButton.appendChild(icon);

    item.append(removeFormButton);

    removeFormButton.addEventListener('click', (e) => {
        e.preventDefault();
        item.remove();
    });
}
{% else %}
document
  .querySelectorAll('button#automation_submit')
  .forEach(btn => {
      btn.setAttribute('hidden', 'true');
  });
{% endif %}

</script>
{% endblock %}
