{% extends 'base.html.twig' %}
{% block title %} User list {% endblock %}
{% block breadcrumbs %} User list {% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var searchInput = document.getElementById('search-input');
            var tableBody = document.getElementById('table-body');
            searchInput.addEventListener('input', function (event) {
                var formData = new FormData();
                formData.append('query', searchInput.value);
                fetch('/admin/search', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => response.json())
                    .then(data => {
                        tableBody.innerHTML = '';
                        data.forEach(function (user) {
                            var newRow = document.createElement('tr');
                            newRow.innerHTML = `
                    <td>${user.nom}</td>
                    <td>${user.prenom}</td>
                    <td>${user.numTlph}</td>
                    <td>${user.adresse}</td>
                    <td>${user.dateDeNaissance}</td>
                    <td>
                        ${user.etat === "activer" ?
                                '<span class="badge badge-success">Activer</span>' :
                                '<span class="badge badge-danger">Désactiver</span>'}
                    </td>
                    <td>
                        <a href="${user.etat === "activer" ?
                                '/desactiver/' + user.id :
                                '/activer/' + user.id}" class="btn btn-${user.etat === "activer" ? 'danger' : 'success'}">
                            ${user.etat === "activer" ? 'Désactiver' : 'Activer'}
                        </a>
                    </td>
                    <td>${user.email}</td>
                    <td>
                        <a href="/send-mail/${user.id}" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Envoyer un e-mail">
                            SendMail
                        </a>
                    </td>
                `;
                            tableBody.appendChild(newRow);
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    </script>
{% endblock %}
{% block body %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

        <div class="container-fluid">
            <div class="row">
                <div>
                    <div class="card my-4">
                        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                                <h6 class="text-white text-capitalize ps-3">Liste des Utilisateurs </h6>
                                <div class="input-group">
                                    <input type="text" id="search-input" class="form-control" placeholder="Search..."
                                           aria-label="search"
                                           aria-describedby="search">
                                    <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="typcn typcn-zoom"></i>
                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-auto p-2">
                                <a class="btn btn-outline-danger " href="{{ path('user_pdf') }}">DownLoad PDF</a>
                                <a class="btn btn-outline-danger " href="javascript:window.print()">Imprimer</a>
                                <div class="count">
                                    Total: {{ pagination.getTotalItemCount }} users
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <div class="table-responsive p-0">
                                <div class="message-flash">
                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th{% if pagination.isSorted('u.nom') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Nom', 'u.nom') }}
                                        </th>
                                        <th{% if pagination.isSorted('u.prenom') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Prenom', 'u.prenom') }}
                                        </th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            numero du telphone
                                        </th>
                                        <th{% if pagination.isSorted('u.adresse') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Adresse', 'u.adresse') }}
                                        </th>
                                        <th{% if pagination.isSorted('u.date_de_naissance') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Date de naissance', 'u.date_de_naissance') }}
                                        </th>
                                        <th{% if pagination.isSorted('u.etat') %} class="sorted"{% endif %}>
                                            {{ knp_pagination_sortable(pagination, 'Etat', 'u.etat') }}
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Action
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            email
                                        </th>
                                        <th class="text-secondary opacity-7">Action</th>

                                    </tr>
                                    </thead>
                                    <tbody id="table-body">
                                    {% for users in pagination %}
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">

                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ users.nom }}</h6>
                                                    </div>
                                                </div>
                                            </td>

                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">{{ users.prenom }}</p>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">{{ users.numTlph }}</p>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">{{ users.adresse }}</p>
                                            </td>
                                            <td>
                                                <p class="text-xs font-weight-bold mb-0">{{ users.dateDeNaissance|date("Y-m-d") }}</p>
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                {% if users.etat == "activer" %}
                                                    <span class="badge badge-sm bg-gradient-success"> {{ users.etat }} </span>
                                                {% else %}
                                                    <span class="badge badge-sm bg-gradient-danger"> {{ users.etat }} </span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle">
                                                {% if users.etat == "activer" %}
                                                    <button class="btn btn-danger" name="desactiverUser"><a
                                                                href="{{ path('desactiverUser',{'id':users.id}) }}">
                                                            <span class="badge badge-danger">desactiver</span></a>

                                                    </button>
                                                {% else %}
                                                    <button class="btn btn-success">
                                                        <a href="{{ path('activerUser',{'id':users.id}) }}">
                                                            <span class="badge badge-success">activer</span></a>

                                                    </button>
                                                {% endif %}

                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ users.email }}</span>
                                            </td>

                                            <td class="align-middle">
                                                <a href="{{ path('sendMailToUser',{'email_use':users.email}) }}"
                                                   class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                                                   data-original-title="Edit user">
                                                    SendMail
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="navigation">
                                    {{ knp_pagination_render(pagination) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}