{% extends 'base.html.twig' %}

{% block title %}List of all loans{% endblock %}

{% block body %}
  <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
  </style>

  <div>


    <div class="card">
      <div class="card-body">
        <h4 class="card-title">List of all loans</h4>

        <div class="table-responsive pt-3">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                ID
              </th>
              <th>
                Amount
              </th>
              <th>
                Interest
              </th>
              <th>
                Term
              </th>
              <th>
                Purpose
              </th>
              <th>
                Borrower
              </th>
              <th>

              </th>

            </tr>
            </thead>
            <tbody>
            {% for item in loanskey %}
              <tr>

                <td> {{ item.id }}    </td>
                <td> {{ item.amount }} TND </td>
                <td> {{ item.interest }} % </td>
                <td> {{ item.term }} mois</td>
                <td> {{ item.purpose }}</td>
                <td> {{ item.borrower.firstName }} {{ item.borrower.lastName }}</td>
                <td>
                  <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3" title="a bid is a participation in a loan where the owner of the bid lends the borrower a fraction of the loan">
                    Bid
                  </button>
                </td>

              </tr>

            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>


  </div>
{% endblock %}
