
{% extends 'base.html.twig' %}

{% block title %}List of all loans{% endblock %}

{% block navigation %}
{{ include('loans/_loanNavMenu.html.twig')}}
{% endblock %}

{% block body %}
  <style>
    #loans_wrapper > div:nth-child(1) {
      margin-right: 20px;
      margin-left: 20px;
    }
  </style>

  <div>

    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
          <h4 class="card-title">Find a Loan</h4>
          <a href="/loans/create"
             role="button"
             class="btn btn-info btn-sm btn-icon-text mr-3 float-right"
             data-bs-toggle="tooltip" data-bs-placement="bottom" data-html="true"
             title="Create new loan"
          >
            <i class="mdi mdi-plus-circle-outline btn-icon-prepend"></i>
            Request Loan
          </a>
        </div>
        <div class="table-responsive pt-3">
          <table class="table table-striped" id="loans">
            <thead>
            <tr>
              <th>ID</th>
              <th>Amount</th>
              <th>Interest</th>
              <th>Term</th>
              <th>Purpose</th>
              <th>Status</th>
              <th>Borrower</th>
              <th>Bids Progress</th>

              <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in loanskey %}
              <tr>

                <td> {{ item.id }}    </td>
                <td> {{ item.amount }} TND </td>
                <td> {{ item.interest }} % </td>
                <td> {{ item.term }} mois</td>
                <td> {{ item.purpose }}</td>
                <td> {{ include ('loans/_loanStatus.html.twig',{'status':item.status}) }}  </td>
                <td> {{ item.borrower.firstName }} {{ item.borrower.lastName }}</td>
                <td> {{ include ('loans/_loanProgress.html.twig',{'progress':item.bidsProgress(),'remainingAmount':item.amount-item.collectedBids(), 'collectedAmount':item.collectedBids() }) }} </td>
                <td>
                  <a href="/loans/{{ item.id }}/bids/create"
                     role="button"
                     class="btn btn-success btn-sm btn-icon-text mr-3
                     {% if item.status.value != 'IN_BIDDING' %}disabled {% endif %}"
                     data-bs-toggle="tooltip" data-bs-placement="bottom"
                     title="A bid is a participation in a loan where the owner of the bid lends the borrower a fraction of the loan">
                    <i class="mdi mdi-currency-usd btn-icon-prepend"></i>
                    Bid
                  </a>
                  <!-- # TODO display edit / delete if the the borrower == currentUser -->
                  <!--
                  <a href="/loans/create?id={{ item.id }}"
                     data-bs-toggle="tooltip" data-bs-placement="bottom"
                     role="button" class="btn btn-warning btn-sm btn-icon-text mr-3" title="Edit this loan">
                    <i class="mdi mdi-pencil btn-icon-prepend"></i>
                    Edit
                  </a>
                  <button onclick="triggerDeleteLoanModal({{ item.id }})"
                     type="button" class="btn btn-danger btn-sm btn-icon-text mr-3"
                          data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete this loan">
                    <i class="mdi mdi-delete-forever btn-icon-prepend"></i>
                    Delete
                  </button>
                  -->
                </td>

              </tr>

            {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div id="delete-loan-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Loan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this loan
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a role="button" id="delete-loan-link" href="/loans/id/delete" class="btn btn-danger">Yes, delete</a>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap4.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.bootstrap4.css">

<script>

new DataTable('#loans'
//, { layout: { topEnd: { search: { text: '', placeholder: 'Type search here' } } } }
);

function triggerDeleteLoanModal(loanId){
  $('#delete-loan-link').attr('href', `/loans/${loanId}/delete`);
  $('#delete-loan-modal').modal();
}
</script>

{% endblock %}
