{% extends 'base.html.twig' %}

{% block title %}Create Loan{% endblock %}

{% block navigation %}
    {{ include('loans/_loanNavMenu.html.twig')}}
{% endblock %}
{% block body %}
<div>
    <div class="row">
    {% for item in loans %}
   <!-- <div class="col-lg-6 grid-margin stretch-card"> -->
        <div class="col-xl-5 grid-margin stretch-card">
            <div class="card">
                <div class="card-body border-bottom">
                    <div class="d-flex-column justify-content-between align-items-center flex-wrap">
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-2 mb-md-0 text-uppercase font-weight-medium">{{ item.purpose }}</h6>
                            <div style="margin-left: auto;order: 2;">
                                <a href="/loans/create?id={{ item.id }}"
                                    role="button"
                                    class="btn btn-warning btn-icon d-inline-flex justify-content-center align-items-center {% if item.status.value != 'IN_BIDDING' %} disabled {% endif %}"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-html="true"
                                    title="Edit this loan">
                                    <i class="mdi mdi-lead-pencil btn-icon-prepend"></i>
                                </a>
                                <button onclick="triggerDeleteLoanModal({{ item.id }})"
                                        {% if item.status.value != 'IN_BIDDING' %} disabled {% endif %}
                                        type="button"
                                        class="btn btn-danger btn-icon"
                                        data-bs-toggle="tooltip" data-bs-placement="bottom" data-html="true"
                                        title="Delete this loan">
                                    <i class="mdi mdi-delete-forever btn-icon-prepend"></i>
                                </button>
                            </div>
                        </div>
                        <div>
                            {{ include ('loans/_loanStatus.html.twig',{'status':item.status}) }}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex flex-column align-items-center justify-content-between border-bottom pb-3 mb-3 mt-4">
                        <table class="justify-content-center align-items-center">
                            <tr>
                                <td class="text-muted">Amount: </td>
                                <td>{{ item.amount }} TND</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Interest: </td>
                                <td>{{ item.interest }} % </td>
                            </tr>
                            <tr>
                                <td class="text-muted">Term: </td>
                                <td>{{ item.term }} months </td>
                            </tr>
                            <tr>
                                <td class="text-muted">Purpose: </td>
                                <td>{{ item.purpose }}</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Status: </td>
                                <td>{{ include ('loans/_loanStatus.html.twig',{'status':item.status}) }} </td>
                            </tr>
                            <tr>
                                <td class="text-muted">Progress: </td>
                                <td>{{ include ('loans/_loanProgress.html.twig',{'progress':item.bidsProgress(),'remainingAmount':item.amount - item.collectedBids(),'collectedAmount':item.collectedBids() }) }} </td>
                            </tr>
                            <tr>
                                <td class="text-muted">Collected Amount: </td>
                                <td>{{ item.collectedBids() }} TND</td>
                            </tr>
                            <tr>
                                <td class="text-muted">Remaining Amount: </td>
                                <td>{{ item.amount - item.collectedBids() }} TND </td>
                            </tr>


                        </table>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="table-responsive pt-3">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
<!--                                        <th>ID</th>-->
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Bidder</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for bid in item.bids %}
                                    <tr>
<!--                                        <td> {{ bid.id }} </td>-->
                                        <td> {{ bid.amount }} TND </td>
                                        <td> {{ include ('bids/_bidStatus.html.twig',{'status':bid.status}) }} </td>
                                        <td class="py-1">
                                            <!-- #TODO replace with user images -->
                                            <img src="/dashboard-template/images/faces/face{{ (bid.bidder.id % 27) + 1 }}.jpg" alt="image">
                                            <a href="/users/{{bid.bidder.id}}">{{ bid.bidder.firstName }} {{ bid.bidder.lastName }} </a>
                                        </td>
                                        <td>

                                            <a href="/bids/{{ bid.id }}/approve"
                                                    role="button"
                                                    class="btn btn-success btn-rounded btn-icon d-inline-flex justify-content-center align-items-center
                                                    {% if bid.status.value != 'PENDING' or item.status.value != 'IN_BIDDING' %} disabled {% endif %}"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-html="true"
                                                    title="Approve this bid"
                                                    >
                                                <i class="mdi mdi-check btn-icon-prepend"></i>
                                            </a>
                                            <a href="/bids/{{ bid.id }}/reject"
                                                    role="button"
                                                    class="btn btn-danger btn-rounded btn-icon d-inline-flex justify-content-center align-items-center
                                                    {% if bid.status.value != 'PENDING' %} disabled {% endif %}"
                                                    data-bs-toggle="tooltip" data-bs-placement="bottom" data-html="true"
                                                    title="Reject this bid"
                                                    >
                                                <i class="mdi mdi-window-close btn-icon-prepend"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>



<!-- Modal -->
<div id="delete-loan-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete Loan</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this loan
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a role="button" id="delete-loan-link" href="/loans/id/delete" class="btn btn-danger">Yes, delete</a>
            </div>
        </div>
    </div>
</div>

<script>
function triggerDeleteLoanModal(loanId){
  $('#delete-loan-link').attr('href', `/loans/${loanId}/delete`);
  $('#delete-loan-modal').modal();
}
</script>

{% endblock %}
